<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>一个最简单的欢迎页面</title>
</head>

<body>
    <h1>欢迎用户：{{username}}</h1>
    <div><a href="/login">登录页面</a></div>
    <!-- <div><img src="/images/avatar.png" alt=""></div> -->
</body>

</html>