<template>
  <div class="summary">
    <el-row v-if="answer.length">
      <h2>总结</h2>
      <h3>您最后的得分:{{total}}</h3>
      <h4>题目颜色标注
        <div>
          <el-tag style="color:#fff;" class="timu" type="success" color="#13CE66">正确</el-tag>
          <el-tag style="color:#fff;" type="gray" color="#D3DCE6">未完成</el-tag>
          <el-tag style="color:#fff;" class="timu" type="danger" color="#FF4949">错误</el-tag>
        </div>
      </h4>
      <h4>点击编号查看题目</h4>
      <div>
        <router-link :to='`/history?type=${type}`'>
          <el-button type="warning" size="large">返回</el-button>
        </router-link>
      </div>
      <el-col :span="4" v-for="(tag,index) in answer" :key="index">
        <el-tag class="timu" type="success" color="#13CE66" style="color:#fff;" v-if="tag.choose === tag.answer">
          <router-link style="color:inherit" :to="`/confirm/${Number(index) +1}?type=${type}`">{{index +1}}</router-link>
        </el-tag>
        <el-tag class="timu" type="gray" color="#D3DCE6" v-else-if="tag.choose === undefined || tag.choose === '' ">
          <router-link style="color:inherit" :to="`/confirm/${Number(index) +1}?type=${type}`">{{index +1}}</router-link>
        </el-tag>
        <el-tag class="timu" type="danger" color="#FF4949" v-else>
          <router-link style="color:inherit" :to="`/confirm/${Number(index) +1}?type=${type}`">{{index +1}}</router-link>
        </el-tag>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import fetch from '@/utils/fetch'
import Question from '@/components/Question'

export default {
  name: 'summary',
  data() {
    return {
      value: '',
      items: [],
      refresh: true,
      type: this.$route.query.type
    }
  },
  computed: {
    answer() {
      return this.$store.getters.answers
    },
    total() {
      let sum = 0
      this.answer.forEach(i => {
        if (i.answer === i.choose) {
          sum++
        }
      })
      return sum
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.summary {
  background: url('../assets/WechatIMG28.jpeg') 32% 50% no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.timu {
  margin: 15px;
  width: 3em;
  color: #fff;
  text-align: center;
}
</style>
