<template>
  <div>{{msg}}}</div>
</template>
<script>
export default {
  name: "demo",
  data() {
    return {
      table: [],
      msg: "我是一个测试的组件"
    }
  },
  mounted() {
    console.log(this.msg)
  }
}
</script>

