<template>
  <div id="app">
    <!-- <header v-if="$route.path !== '/'">
      <el-button type="primary" @click="$router.go(-1)" size="small">后退</el-button>
      <el-button type="primary" @click="$router.go(1)" size="small">前进</el-button>
    </header> -->
    <demo></demo>
    <!-- <keep-alive>
      <router-view></router-view>
    </keep-alive> -->
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  name: 'app',
  mounted(){
    // console.log(Vue.$myName)
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    .el-button {
      height: 34px;
      margin: 4px 20px;
    }
  }
}
</style>
