<template>
  <div class="confirm">
      <div style="padding:15px;text-align:right;">

        <el-button type="primary" size="small" @click="back">返回</el-button>

    </div>
    <div class="card">
      <h4 >题目回顾 第{{ $route.params.id }}题</h4>
      <div class="main" v-if="item">
        <p>
          <!-- <span>{{item.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
          {{item.title}}
        </p>
        <!-- <span>内部编号:{{item.id}}</span> -->
        <div v-if="item.extras_pic" class="detail">
          <p v-for="(v,i) in item.extras_pic" :key="i">
            <img :src="`http://localhost:6324/images/${v}`" alt="">
          </p>
        </div>
        <div v-if="item.extras && item.length">
          <p v-for="(v,i) in item.extras" :key="i">
            <span>{{v}}</span>
          </p>
        </div>
        <div class="opt">
          <el-radio-group v-model="value">
            <p v-for="(v,i) in item.options" :key="i" class="options">
              <el-radio :label="i">
                <span>{{v}}</span><img v-if="item.pic" :src="`http://localhost:6324/images/${item.pic[i]}`" alt="">
              </el-radio>
            </p>
          </el-radio-group>
        </div>
        <h4>正确答案:{{right}}</h4>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import fetch from '@/utils/fetch'
import { url } from '../../config'

const arr = ['A', 'B', 'C', 'D']
export default {
  name: 'question',
  data() {
    return {
      url
    }
  },
  methods: {
    back() {
      this.$router.go(-1)
    }
  },
  computed: {
    item() {
      return this.$store.getters.getQuestion
    },
    right() {
      const id = this.$route.params.id
      if (id) {
        if (this.$store.state.answer[id - 1]) {
          return this.$store.state.answer[id - 1].answer
        }
      }
    },
    amounts() {
      return this.$store.getters.getQuestionsLen
    },
    value: {
      set(val) {
        this.$store.dispatch('answer', { answer: arr[val] })
      },
      get() {
        const id = this.$route.params.id
        if (id) {
          if (this.$store.state.answer[id - 1]) {
            return arr.indexOf(this.$store.state.answer[id - 1].choose)
          }
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
.confirm {
  background: url('../assets/WechatIMG28.jpeg') 32% 50% no-repeat;
  background-size: cover;
  min-height: 100vh;
  .main {
    text-align: left;
    padding: 0 15px;
  }
  .header {
    text-align: center;
    // font-size: 12px;
    margin: 0;
    padding-top: 1rem;
  }
  .time {
    padding: 5px;
  }
  .card {
    padding: 0 15px;
  }

  .count-down {
    border: 1px solid #ff4949;
    padding: 3px 6px;
    p {
      margin: 2px 10px !important;
    }
  }
  .el-radio-group {
    display: flex; // align-items: center;
    align-content: center; // justify-content: center;
    flex-direction: column; // width: 80%;
    // max-width: 80%;
  }
  .el-radio {
    // width: 100%;
    margin: 8px auto;
    line-height: 1.3;
    span {
      white-space: normal;
    }
  }

  .alert {
    height: 30px; // width: 50%;
    padding: 2px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 400;

    .count-down {
      display: inline-block;
      padding-left: 25px; // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }

  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: auto 10px;
    }
  }

  .opt {
    width: 100%;
    text-align: left;
    margin: 15px auto;
    overflow: hidden;
  }
  .process {
    margin-top: 15px;
    .el-callapse {
      border-radius: 3px;
    }
    .el-collapse-item__wrap {
      background-color: transparent;
    }
    .tag {
      min-width: 2em;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
</style>
