<template>
  <div class="question">
    <h3 class="header">
      <span style="padding-right:5px">天然气管网调度员职业资格认证题库</span>
    </h3>
    <div class="card">
      <h4 align="right">{{id}}/{{amounts}}题</h4>
      <div class="main" v-if="item">
        <p>
          <!-- <span>{{item.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
          {{item.title}}
        </p>
        <!-- <span>内部编号:{{item.id}}</span> -->
        <div v-if="item.extras_pic" class="detail">
          <p v-for="(v,i) in item.extras_pic" :key="i">
            <img :src="`http://localhost:6324/images/${v}`" alt="">
          </p>
        </div>
        <div v-if="item.extras && item.length">
          <p v-for="(v,i) in item.extras" :key="i">
            <span>{{v}}</span>
          </p>
        </div>
        <div class="opt">
          <el-radio-group v-model="value">
            <span v-for="(v,i) in item.options" :key="i" class="options">
              <el-radio :label="i">
                {{v}}<img v-if="item.pic" :src="`http://localhost:6324/images/${item.pic[i]}`" alt="">
              </el-radio>
            </span>
          </el-radio-group>
        </div>
      </div>
      <h4 v-if="right">正确答案:{{right}}</h4>
      <div>
        <el-button size="small" type="primary" @click="submit">提交答案</el-button>
        <el-button size="small" style="margin-left:0" type="success" :disabled="!right" @click="fetchOne">下一题</el-button>
        <router-link :to='`/history?type=${type}`'>
          <el-button size="small" type="warning">结束练习</el-button>
        </router-link>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import fetch from '@/utils/fetch'
import { MessageBox } from 'element-ui'

const arr = ['A', 'B', 'C', 'D']
export default {
  name: 'done',
  data() {
    return {
      id: '',
      activeNames: '',
      value: '',
      amounts: '',
      type: this.$route.query.type,
      right: '',
      item: {}
    }
  },
  methods: {
    submit() {
      if (this.value === '') {
        return this.$message.warning('请选择答案')
      }
      fetch({
        method: 'post',
        url: '/questions/submitOne',
        data: {
          type: this.$route.query.type,
          answer: arr[this.value]
        }
      })
        .then(res => {
          this.right = res.data.data.answer
          if (arr[this.value] === res.data.data.answer) {
            return this.$message.success('回答正确')
          } else {
            return this.$message.error('回答错误')
          }
        })
        .catch(() => {
          this.$message.error('发生了一个错误')
        })
    },
    fetchOne() {
      return fetch({
        method: 'get',
        url: '/questions/jindu',
        params: {
          type: this.type
        }
      }).then(res => {
        console.log(res)
        const data = res.data.data
        // this.$set(this, item, res.data.question)
        this.item = data.question
        this.right = ''
        this.value = ''
        this.id = data.question.id
        this.amounts = data.total
      })
    }
  },
  mounted() {
    this.fetchOne()
  }
}
</script>


<style  lang="scss">
.question {
  background: url('../assets/WechatIMG28.jpeg') 32% 50% no-repeat;
  background-size: cover;
  min-height: 100vh;
  .main {
    text-align: left;
  }
  .header {
    text-align: right;
    font-size: 12px;
    margin-top: 0;
    padding-top: 1rem;
  }
  .time {
    padding: 5px;
  }
  .card {
    padding: 15px;
  }

  .count-down {
    border: 1px solid #ff4949;
    padding: 3px 6px;
    p {
      margin: 2px 10px !important;
    }
  }
  .el-radio-group {
    display: flex; // align-items: center;
    align-content: center; // justify-content: center;
    flex-direction: column; // width: 80%;
    // max-width: 80%;
  }
  .el-radio {
    // width: 100%;
    margin: 8px auto;
    line-height: 1.3;
    span {
      white-space: normal;
    }
  }

  .alert {
    height: 30px; // width: 50%;
    padding: 2px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 400;

    .count-down {
      display: inline-block;
      padding-left: 25px; // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }

  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: auto 10px;
    }
  }

  .opt {
    width: 100%;
    text-align: left;
    margin: 15px auto;
    overflow: hidden;
  }
  .process {
    margin-top: 15px;
    .el-callapse {
      border-radius: 3px;
    }
    .el-collapse-item__wrap {
      background-color: transparent;
    }
    .tag {
      min-width: 2em;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
</style>
