<template>
  <div class="hello">
    <h3>天然气管网调度员职业<br/> 资格认证题库
    </h3>
    <el-row class="btn">
      <el-col :span="24">
        <el-button @click="change('primary')" type="warning">初&nbsp;&nbsp;&nbsp;级</el-button>
      </el-col>
      <el-col :span="24">
        <el-button @click="change('middle')" type="success">中&nbsp;&nbsp;&nbsp;级</el-button>
      </el-col>
      <el-col :span="24">
        <el-button @click="change('high')" type="danger">高&nbsp;&nbsp;&nbsp;级</el-button>
      </el-col>
    </el-row>

  </div>
</template>

<script>

import fetch from '@/utils/fetch'
import Question from '@/components/Question';

export default {
  name: 'history',
  data() {
    return {
      items: [],
      refresh: true,
    }
  },
  components: {
    Question
  },
  methods: {
    change(val) {
      console.log(val)
      this.$router.push({ path: 'history', query: { type: val } })
    },
    fetch(val) {
      return this.$store.dispatch('fetchQuestions', { type: this.value })
    }
  },

}
</script>

<style scoped lang="scss">
.hello {
  position: relative;
  h3 {
    position: absolute;
    top: 33%;
    left: 50%; // width: 100%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: rgba(255, 255, 255, .45);
    font-size: 32px;
    font-weight: 800;
    padding: 2px 4px;
    border-radius: 5px;
    color: #000;
  }
  min-height: 100vh;
  background: url('../assets/1.jpg') 32% 50% no-repeat;
  background-size: cover;
}

.btn {
  margin: 10px auto;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  >div {
    margin: 10px auto;
    button {
      font-size: 24px;
    }
  }
}
</style>
