<template>
  <div class="history">
    <div style="margin:15px;text-align:right;">
      <router-link to="/">
        <el-button type="primary" size="small">返回首页</el-button>
      </router-link>
    </div>
    <h3 style="margin-tap:25px;">天然气管网调度员职业资格认证题库</h3>
    <div class="middle">
    <el-row class="main" type="flex" justify="center">
      <el-col :span="10">
        <el-card>
          <h3>已完成题库</h3>
          <h4>
            {{ info && info.done}}
          </h4>
          <router-link :to="`/exercise/1?type=${type}`">
            <el-button type="success" size="small">考题练习
              <i class="el-icon-arrow-right"></i>
            </el-button>
          </router-link>
        </el-card>
      </el-col>
      <el-col :span="10" :offset="2">
        <el-card>
          <h3>最高得分</h3>
          <h4>
            {{ info && info.high}}
          </h4>
          <router-link :to="`/question/1?type=${type}`">
            <el-button type="success" size="small">模拟考试
              <i class="el-icon-arrow-right"></i>
            </el-button>
          </router-link>
        </el-card>
      </el-col>
    </el-row>
    <el-row class="error" type="flex" justify="center">
      <el-col :span="22">
        <router-link :to="`/false/1?type=${type}`">
          <el-button type="success" size="large">错题集</el-button>
        </router-link>
      </el-col>
    </el-row>
    </div>
  </div>
</template>

<script>
import fetch from '@/utils/fetch'
import Question from '@/components/Question'
import CountDown from 'vue2-countdown'
import { MessageBox } from 'element-ui'

export default {
  name: 'hello',
  data() {
    return {
      items: [],
      type: this.$route.query.type,
      refresh: true
    }
  },
  components: {
    Question
  },
  computed: {
    info() {
      return this.$store.getters.info
    }
  },
  beforeRouteEnter: (to, from, next) => {
    next(vm => {
      vm.$store.dispatch('fetchInfo', { type: vm.$route.query.type })
    })
  },
  mounted() {
    this.$store.dispatch('fetchInfo', { type: this.$route.query.type })
  }
}
</script>

<style lang="scss" scoped>
.main {
  display: flex;
}

.history {
  background: url('../assets/WechatIMG28.jpeg') 32% 50% no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.middle {
  margin-top: 150px;
}
.error {
  margin: 25px auto;
  width: 40%;
  height: 40px;
  .el-button {
    width: 100%;
    height: 100%;
  }
}
</style>
