<template>
  <div class="question">
    <h3 class="header">
      <span style="padding-right:5px">天然气管网调度员职业资格认证题库</span>
    </h3>
    <el-row class="time" type="flex" justify="end" v-if="timestamp">
      <div class="count-down">
        <span>剩余答题时间</span>
        <count-down :key="timestamp" :hourTxt="'小时'" v-on:end_callback="countDownE_cb" :startTime="Date.now()" :endTime="Date.now() +  60 * 90 * 1000" :endText="'答题时间已到'" :minutesTxt="'分钟'" :secondsTxt="'秒'"></count-down>
      </div>
    </el-row>
    <div class="card">
      <h4 align="right">{{$route.params.id}}/{{amounts}}题</h4>
      <div class="main">
        <p>
          <!-- <span>{{item.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
          {{item.title}}
        </p>
        <!-- <span>内部编号:{{item.id}}</span> -->
        <div v-if="item.extras_pic" class="detail">
          <p v-for="(v,i) in item.extras_pic" :key="i">
            <img :src="`http://localhost:6324/images/${v}`" alt="">
          </p>
        </div>
        <div v-if="item.extras && item.length">
          <p v-for="(v,i) in item.extras" :key="i">
            <span>{{v}}</span>
          </p>
        </div>
        <div class="opt">
          <el-radio-group v-model="value">
            <span v-for="(v,i) in item.options" :key="i" class="options">
              <el-radio :label="i">
                {{v}}<img v-if="item.pic" :src="`http://localhost:6324/images/${item.pic[i]}`" alt="">
              </el-radio>
            </span>
          </el-radio-group>
        </div>
      </div>
      <div>
        <el-button size="small" type="primary" @click="prev" v-if="this.$route.params.id != 1">上一题</el-button>
        <el-button size="small" type="primary" @click="next" v-if="this.$route.params.id != amounts">下一题</el-button>
        <el-button size="small" type="warning" @click="submit">结束考试</el-button>
      </div>
      <div class="process">
        <div>
          <el-row type="flex" algin="middle" justify="center" style="margin:15px auto;">&nbsp;&nbsp;&nbsp;进度:&nbsp;&nbsp;&nbsp;
            <el-tag type="success" color="#13CE66" style="width:2em"></el-tag>
            <span>&nbsp;&nbsp;&nbsp;完成</span>&nbsp;&nbsp;&nbsp;
            <el-tag type="warning" color="#F7BA2A" style="width:2em"></el-tag>
            <span>&nbsp;&nbsp;&nbsp;未完成</span>
          </el-row>
          <el-row>
            <el-col :span="3" v-for="(tag,index) in questions" :key="index">
              <router-link :to="`/question/${index+1}?type=${type}`">
                <el-tag color="#13CE66" class="tag" v-if="tag.choose">{{index + 1}}</el-tag>
                <el-tag color="#F7BA2A" class="tag" v-else>{{index + 1}}</el-tag>
              </router-link>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fetch from '@/utils/fetch'
import { url } from '../../config'
import CountDown from 'vue2-countdown'
import { MessageBox } from 'element-ui'

const arr = ['A', 'B', 'C', 'D']
export default {
  name: 'question',
  data() {
    return {
      url,
      activeNames: '',
      type: this.$route.query.type,
      currentTime: Date.now(),
      show: false,
      kaishi: 0
      // arr: [...Array(100)]
    }
  },
  components: {
    CountDown
  },
  // mounted() {
  //   console.log('mounted')
  //
  // },
  beforeRouteEnter: (to, from, next) => {
    next(vm => {
      vm.getData()
      vm.kaishi = Date.now()
    })
  },
  methods: {
    getData() {
      return this.$store.dispatch('fetchQuestions', { type: this.type })
    },
    next() {
      this.$store.dispatch('answer', { answer: arr[this.value] })

      this.$router.push({
        name: 'Question',
        params: { id: +this.$route.params.id + 1 },
        query: { type: this.type }
      })
    },
    handleChange(val) {},
    prev() {
      this.$router.push({
        name: 'Question',
        params: { id: this.$route.params.id - 1 },
        query: { type: this.type }
      })
    },
    countDownS_cb() {},
    countDownE_cb() {
      this.$message.warning('答题时间已经到了，2秒后跳转到答题情况页面')
      setTimeout(() => {
        this.$store.dispatch('submit', { type: this.type })
        this.$router.push({ name: 'Summary', query: { type: this.type } })
      }, 2000)
    },
    submit() {
      MessageBox.confirm('您确定您要提交吗', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.$store.dispatch('submit', { type: this.type })
          this.$router.push({ name: 'Summary', query: { type: this.type } })
        })
        .catch(e => {
          console.log(e)
          this.$message({
            type: 'info',
            message: '继续答题'
          })
        })
    }
  },
  computed: {
    item() {
      return this.$store.getters.getQuestion
    },
    amounts() {
      return this.$store.getters.getQuestionsLen
    },
    timestamp() {
      return this.$store.state.time
    },
    endTime() {
      const _time = this.timestamp + 60 * 90 * 1000 - this.currentTime
      // console.log(_time)
      return this.timestamp + _time
    },
    questions() {
      return this.$store.state.answer
    },
    value: {
      set(val) {
        this.$store.dispatch('answer', { answer: arr[val] })
      },
      get() {
        const id = this.$route.params.id
        if (id) {
          if (this.$store.state.answer[id - 1]) {
            return arr.indexOf(this.$store.state.answer[id - 1].choose)
          }
        }
      }
    }
  }
}
</script>


<style  lang="scss">
.question {
  background: url('../assets/WechatIMG28.jpeg') 32% 50% no-repeat;
  background-size: cover;
  min-height: 100vh;
  .main {
    text-align: left;
  }
  .header {
    text-align: right;
    font-size: 12px;
    margin-top: 0;
    padding-top: 1rem;
  }
  .time {
    padding: 5px;
  }
  .card {
    padding: 15px;
  }

  .count-down {
    border: 1px solid #ff4949;
    padding: 3px 6px;
    p {
      margin: 2px 10px !important;
    }
  }
  .el-radio-group {
    display: flex; // align-items: center;
    align-content: center; // justify-content: center;
    flex-direction: column; // width: 80%;
    // max-width: 80%;
  }
  .el-radio {
    // width: 100%;
    margin: 8px auto;
    line-height: 1.3;
    span {
      white-space: normal;
    }
  }

  .alert {
    height: 30px; // width: 50%;
    padding: 2px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 400;

    .count-down {
      display: inline-block;
      padding-left: 25px; // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }

  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: auto 10px;
    }
  }

  .opt {
    width: 100%;
    text-align: left;
    margin: 15px auto;
    overflow: hidden;
  }
  .process {
    margin-top: 15px;
    .el-callapse {
      border-radius: 3px;
    }
    .el-collapse-item__wrap {
      background-color: transparent;
    }
    .tag {
      min-width: 2em;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
</style>
